<div class="comment">
<p class="comment-content"><%= comment.content %></p></br>
<p class="comment-posted-by">Comment Made: <%= time_ago_in_words(comment.created_at) %> ago</p>
<p class="comment-posted-by">By: <%= comment.user.email %> <hr>
</div>